<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="demo-comp">
  <template>
    <style>
      :host {
        display: block;
      }
      h2 {
        color: blue;
      }
    </style>
    <!-- one way binding-->
    <h2>Soy [[nombre]]!</h2>
    <h2>Tengo [[edad]] años</h2>
    <!-- two way binding-->
    <input type="text" value="{{nombre::input}}"/>
    <input type="range" min="18" max="100" value="{{edad::input}}"/>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemoComp extends Polymer.Element {
      static get is() { return 'demo-comp'; }
      static get properties() {
        return {
          nombre: {
            type: String,
            value: 'Gilberto'
          },
          edad: {
            type: Number
          }
        };
      }
    }

    window.customElements.define(DemoComp.is, DemoComp);
  </script>
</dom-module>
