<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="componente-secundario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <h1>El anio es {{anio}}</h1>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ComponenteSecundario extends Polymer.Element {
      static get is() { return 'componente-secundario'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Secundario'
          },
          anio: {
            type: Number,
            value: 2020
          }
        };
      }
    }

    window.customElements.define(ComponenteSecundario.is, ComponenteSecundario);
  </script>
</dom-module>
