<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/demo-comp/demo-comp.html">
<dom-module id="componente-principal">
  <template>
    <style>
      :host {
        display: block;
      }
      h2, h3 {
        color: #ff0000;
      }
    </style>
    <h2>Formulario</h2>
    <demo-comp edad='30'></demo-comp>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ComponentePrincipal extends Polymer.Element {
      static get is() { return 'componente-principal'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Gilberto'
          }
        };
      }
    }

    window.customElements.define(ComponentePrincipal.is, ComponentePrincipal);
  </script>
</dom-module>
