<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">
<link rel="import" href="/src/login-usuario-cuentas/login-usuario-cuentas.html">

<dom-module id="gestor-componentes">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <login-usuario-cuentas on-loginok="showAccounts"></login-usuario-cuentas>
    <div hidden$="[[!hasAccounts]]">
       <h1>Bienvenido a BBVA [[first_name]]</h1>
       <visor-cuentas-new id="receiver"></visor-cuentas-new>
     </div>

  </template>

  <script>
    class GestorComponentes extends Polymer.Element {
      static get is() { return 'gestor-componentes'; }
      static get properties() {
        return {
          hasAccounts: {
            type: Boolean,
            value: false
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          }
        };
      }

      showAccounts(e) {
        this.$.receiver.userid = e.detail.idusu;
        this.first_name = e.detail.name;
        this.hasAccounts = true;
      }
    }

    window.customElements.define(GestorComponentes.is, GestorComponentes);
  </script>
</dom-module>
