<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- In dom-module -->
    <h2>Mi id es [[id]]</h2>
    <h3>y me llamo [[name]]</h3>
    <!-- Place iron-ajax below the HTML -->
    <iron-ajax auto
      id="getPerson"
      url="https://services.odata.org/V4/OData/OData.svc/Persons"
      handle-as="json"
      on-response="showData"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
       static get is() { return 'visor-usuario'; }
       static get properties() {
         return {
           name: {
             type: String
           }, id: {
             type: Number
           }
         };
       }

        // After the properties, but inside the class.
        showData(data) {
          console.log("showData");
          console.log(data.detail.response);
          this.id = data.detail.response.value[0].ID;
          this.name = data.detail.response.value[0].Name;
        }
     }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
